<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Example 1</title>
    <style>
        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

        a {
            color: #5D6975;
            text-decoration: none;
        }

        body {
            position: relative;
            width: /*794px;*/ 21cm;
            height: /*1068px;*/ 29.7cm;
            margin: 0 auto;
            color: #001028;
            background: #FFFFFF;
            font-family: Arial, sans-serif;
            font-size: 12px;
            font-family: Arial;
        }

        header {
            padding: 10px 0;
            margin-bottom: 10px;
        }

        #logo {
            float: left;
            text-align: center;
            margin-bottom: 10px;
        }

        #logo img {
            height: 110px;
        }

        h1 {
            border-top: 1px solid #5D6975;
            border-bottom: 1px solid #5D6975;
            color: #5D6975;
            font-size: 2.4em;
            line-height: 1.4em;
            font-weight: normal;
            text-align: center;
            margin: 0 0 20px 0;
            clear: both;
        }

        #project {
            float: left;
        }

        #project span {
            color: #5D6975;
            text-align: right;
            width: 112px;
            margin-right: 10px;
            display: inline-block;
            font-size: 0.8em;
        }

        #company {
            float: right;
            text-align: right;
            margin-top: 20px;
        }

        #project div,
        #company div {
            white-space: nowrap;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            margin-bottom: 20px;
        }

        table tr:nth-child(2n-1) td {
            background: #F5F5F5;
        }

        table th {
            text-align: center;
        }

        table th {
            padding: 5px 10px;
            color: #5D6975;
            border-bottom: 1px solid #C1CED9;
            white-space: nowrap;
            font-weight: normal;
        }

        table .desc {
            text-align: left;
        }

        table td {
            padding: 10px;
            text-align: right;
        }

        table td.service,
        table td.desc {
            vertical-align: top;
        }

        table td.tva,
        table td.qty,
        table td.prix,
        table td.rms,
        table td.total {
            font-size: 1.2em;
        }

        table td.grand {
            border-top: 1px solid #5D6975;;
        }

        .desc {
            width: 35%;
        }

        #infoVehicule {
            width: 100%;
        }

        #infoVehicule tr td{
            text-align: left;
        }


        #notices .notice {
            color: #5D6975;
            font-size: 1.2em;
        }

        footer {

            color: #5D6975;
            width: 100%;
            position:absolute;
            bottom:-180px;
            border-top: 1px solid #C1CED9;
            padding: 8px 0;
            text-align: center;

        }
    </style>
</head>
<body>
<header class="clearfix">
    <div id="logo">
        <img src="{{ absolute_url(asset('img/logo/logo.png')) }}">
    </div>

    <div id="company" class="clearfix">
        <div>EIRL MIKE AUTO 17</div>
        <div>Mr BOEX Mikael,<br/> 17560 Bourcefranc le Chapus</div>
        <div><a href="tel:+33629584310">06 29 58 43 10</a></div>
        <div><a href="mailto:contacts@mikeauto17.fr">contacts@mikeauto17.fr</a></div>
        <div><a href="https://www.mikeauto17.fr/">www.mikeauto17.fr</a></div>
    </div>
    {% block titre %}
    {% endblock %}

    <div id="project">
        <div>
            <span>CLIENT</span>{{ command.vehicule.customer.civility }} {{ command.vehicule.customer.firstName }} {{ command.vehicule.customer.lastName }}
        </div>
        <div>
            <span>ADRESSE</span>{% if command.vehicule.customer.socialReason is not null %}{{ command.vehicule.customer.socialReason }}, {% endif %}{{ command.vehicule.customer.addressNumber }} {{ command.vehicule.customer.addressRoad1 }}{% if command.vehicule.customer.addressRoad2 is not null %} - {{ command.vehicule.customer.addressRoad2 }}{% endif %}
            , {{ command.vehicule.customer.addressZipcode }} {{ command.vehicule.customer.addressCity }}
            , {{ command.vehicule.customer.addressCountry }}
        </div>
        <div>
            <span>LIEU D'INTERVENTION</span>{{ command.adressIntervention.number }} {{ command.adressIntervention.road1 }}{% if command.adressIntervention.road2 is not null %} - {{ command.adressIntervention.road2 }}{% endif %}
            , {{ command.adressIntervention.zipcode }} {{ command.adressIntervention.city }}
            , {{ command.adressIntervention.country }}
        </div>
{#
        <div><span>VEHICULE</span>{{ command.vehicule.brand }} - {{ command.vehicule.model }}
            - {{ command.vehicule.registration }} - {{ command.mileage | number_format(0,',',' ') }} Km
            - {{ command.vehicule.vin | upper }}
        </div>
#}


        <br>
        {% block statut %}
        {% endblock %}
    </div>
</header>
<main>
    <h2>VEHICULE</h2>
    <table id="infoVehicule">
        <tr>
            <td>Marque</td>
            <td>Modèle</td>
            <td>Immatriculation</td>
            <td>VIN</td>
            <td>Kilométrage</td>
        </tr>
        <tr>
            <td>{{ command.vehicule.brand }}</td>
            <td>{{ command.vehicule.model }}</td>
            <td>{{ command.vehicule.registration }}</td>
            <td>{{ command.vehicule.vin | upper }}</td>
            <td>{{ command.mileage | number_format(0,',',' ') }}</td>
        </tr>
    </table>
    <h2>INTERVENTION</h2>
    <table>
        <thead>
        <tr>
            <th class="desc">DESCRIPTION</th>
            <th>PRIX</th>
            <th class="service">UNITE</th>
            <th>QTÉ</th>
            <th>TVA</th>
            <th>REMISE</th>
            <th>TOTAL</th>
        </tr>
        </thead>
        <tbody>
        {% for ligne in command.commandsServices %}
            <tr>
                <td class="desc">{{ ligne.service.name }}{% if ligne.reference is not empty %} - {{ ligne.reference }}{% endif %}</td>
                <td class="prix">{{ ligne.value | number_format(2,',',' ') }} €</td>
                <td class="service">{{ ligne.service.unite.code }}</td>
                <td class="qty">{{ ligne.quantity }}</td>
                <td class="tva">{{ ligne.taxRate | number_format(0,',',' ') }} %</td>
                <td class="rms">{% if ligne.discountRate != 0 %}{{ ligne.discountRate | number_format(0,' ','.') }} %{% endif %}</td>
                <td class="total">{% if ligne.discountRate == 0 %}
                        {{ (ligne.value * ligne.quantity) | number_format(2,'.',' ') }} €
                    {% else %}
                        {{ ((ligne.value * ligne.quantity)-((ligne.value * ligne.quantity) * (ligne.discountRate / 100)) ) | number_format(2,',',' ') }} €
                    {% endif %}</td>
            </tr>
        {% endfor %}
        <tr>
            <td colspan="6">TOTAL HT</td>
            <td class="total">{{ command.totalHt | number_format(2,',',' ') }} €</td>
        </tr>
        {% if command.totalDiscount is not null %}
            <tr>
                <td colspan="6">REMISE</td>
                <td class="total">{{ command.totalDiscount | number_format(2,',',' ') }} €</td>
            </tr>

        {% endif %}
        <tr>
            <td colspan="6">TVA</td>
            <td class="total">{{ command.totalTva | number_format(2,',',' ') }} €</td>
        </tr>
        <tr>
            <td colspan="6" class="grand total">TOTAL TTC</td>
            <td class="grand total">{{ command.totalTtc | number_format(2,',',' ') }} €</td>
        </tr>
        </tbody>
    </table>
    <div id="notices">
        <div>obsevations :</div>
        <div class="notice">{{ command.note }}</div>
    </div>
    {% block accord %}
    {% endblock %}
</main>
<footer>
    EIRL MIKE AUTO 17, Mr BOEX Mikael, 17560 Bourcefranc le Chapus, Siret n°828.654.301.00013, TVA FR64828654301
</footer>
</body>
</html>