{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron ">


        <h1>Devis  {{mois}} {{annee}}</h1>

        <div class="row entete">
            <div class="col-sm-9 col-sm-offset-3">
                {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' , 'class': 'form-horizontal'} }) }}

                <div class="form-group">

                    <div class="col-sm-5 espaceBoutton">
                        {# Génération de l'input. #}
                        {{ form_widget(form.date, {'attr': {'class': 'form-control js-datepicker', 'placeholder' : 'Mois et Année'}}) }}
                    </div>

                    <div class="col-sm-5"><input type="submit" class="btn btn-primary" date="submit" value="Aller">
                    </div>
                    <div class="col-sm-2">{{ form_errors(form.date) }} </div>
                </div>


                {{ form_rest(form) }}

                {{ form_end(form) }}

            </div>
        </div>

        <div class="table-responsive table-bordered">
            <table class="table ">
                <thead>
                <tr>
                    <th>N°</th>
                    <th>Client</th>
                    <th class="hidden-xs">Date</th>
                    <th class="hidden-xs">TTC</th>
                    <th>Statut</th>


                </tr>
                </thead>
                <tbody>
                {% for ligne in devis %}
                    <tr>
                        <td><a class="btn btn-block btn-primary"
                               href="{{ path('app_admin_command_view', {'id' : ligne.id}) }}">{{ ligne.ref }}</a></td>
                        <td>{{ ligne.vehicule.customer.lastname }}</td>

                        <td class="hidden-xs">{{ ligne.dateCreate | date('d-m-Y')}}</td>
                        <td class="hidden-xs">{{ ligne.totalTtc |number_format(2, '.', ' ')}} €</td>

                        <td>
                            {% if ligne.commandeValidate is empty %} <button class="btn btn-default btn-block">Devis en attente</button>{% else %} <button class="btn btn-success btn-block">Devis accepté</button>{% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
{#
                <tfoot>
                <tr>
                    <td>Total Annuel</td>
                    <td>{{ resultatAnnuel.nombreFactAcquitee }}</td>
                    <td class="hidden-xs">{{ resultatAnnuel.ht |number_format(2, '.', ' ')}} €</td>
                    <td class="hidden-xs">{{ resultatAnnuel.remise |number_format(2, '.', ' ')}} €</td>
                    <td class="hidden-xs">{{ resultatAnnuel.tva |number_format(2, '.', ' ')}} €</td>
                    <td>{{ resultatAnnuel.ttc |number_format(2, '.', ' ')}} €</td>
                </tr>

                </tfoot>
#}
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(devis) }}
        </div>

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}

    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.js-datepicker').datepicker({
                    todayBtn: "linked",
                    clearBtn: true,
                    language: "fr",
                    todayHighlight: true,
                    autoclose: true,
                    format: "mm-yyyy",
                    startView: "months",
                    minViewMode: "months"
                });

            });
        </script>

    {% endblock %}
