<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}garageMike17{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link href="{{ asset('datepicker/css/bootstrap-datepicker.css')}}" rel="stylesheet">

        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                {% include 'include/nav.html.twig' %}
                {% include 'include/flashBag.html.twig' %}

                {#{% for notice in app.flashes('notice') %}#}
                    {#<p class="alert alert-info">{{ notice | capitalize }}</p>#}
                {#{% endfor %}#}

            </div>
        </div>
        {% block body %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.js') }}"></script>

    {% block javascripts %}
        {% endblock %}
    </body>
</html>
