<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}garageMike17{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    <div class="container-fluid">

        <div class="row">
            <div class="col-sm-12">
                {% include 'include/nav.html.twig' %}

                {% for notice in app.flashes('notice') %}
                    <p class="alert">{{ notice | capitalize }}</p>
                {% endfor %}
                {% block body %}{% endblock %}
            </div>
        </div>
    </div>

    <script src="{{ asset('web/js/jquery-3.2.1.min.js') }}"></script>
    <script src="{{ asset('web/js/bootstrap.min.js') }}"></script>
    {% block javascripts %}
        {% endblock %}
    </body>
</html>
