{% extends 'base.html.twig' %}

{% block body %}
    {% include 'include/googleMpa.html.twig' %}
<div class="container">
    {% if typePage == 'ajout' %}
        <h1>Ajouter un client</h1>
    {% elseif typePage == 'modif' %}
        <h1>Modifier un client</h1>
    {% endif %}

    {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' , 'class': 'form-horizontal'} }) }}

    {# Les erreurs générales du formulaire. #}
    <p class="alert">{{ form_errors(form) }} </p>

    <legend>Identitée</legend>

    {# Génération du label + error + widget pour un champ. #}
    <div class="form-group">
        {# Génération du label. #}
        {{ form_label(form.email, "Email", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {# Génération de l'input. #}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>
        {# Affichage des erreurs pour ce champ précis. #}
        <div class="col-sm-2">{{ form_errors(form.email) }} </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 col-xs-2 control-label" for="civility">Civilité</label>
        <div class="col-md-4">
            {{ form_widget(form.civility, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="form-group required">

        {{ form_label(form.firstName, "Prénom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}



        <div class="col-sm-8">
            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.firstName) }} </div>
    </div>

    <div class="form-group required">
        {{ form_label(form.lastName, "Nom", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
             {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.lastName) }} </div>
    </div>

    <div class="form-group">
        {{ form_label(form.socialReason, "Raison sociale", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.socialReason, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.socialReason) }} </div>
    </div>

    <div class="form-group required">
        {{ form_label(form.telephonePrimary, "Téléphone principal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.telephonePrimary, {'attr': {'class': 'form-control phone'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.telephonePrimary) }} </div>
    </div>

    <div class="form-group">
        {{ form_label(form.telephoneSecondary, "Téléphone secondaire", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.telephoneSecondary, {'attr': {'class': 'form-control phone'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.telephoneSecondary) }} </div>
    </div>

    <legend>Adresse</legend>

    <div id="locationField" class="form-group">
        <label for="autocomplete" class="control-label col-sm-2">Recherche Rapide</label>
        <div class="col-sm-8">

            <input id="autocomplete" placeholder="Taper l'adresse ici" class="form-control" onFocus="geolocate()" type="text"></input>
        </div>

    </div>

    <div class="form-group">
        {{ form_label(form.addressNumber, "Numero", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressNumber, {'attr': {'class': 'form-control street_number'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressNumber) }} </div>
    </div>

    <div class="form-group required">
        {{ form_label(form.addressRoad1, "Adresse", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressRoad1, {'attr': {'class': 'form-control route'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressRoad1) }} </div>
    </div>

    <div class="form-group">
        {{ form_label(form.addressRoad2, "Complément d'adresse", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressRoad2, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressRoad2) }} </div>
    </div>

    <div class="form-group required">
        {{ form_label(form.addressZipcode, "Code postal", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressZipcode, {'attr': {'class': 'form-control postal_code'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressZipcode) }} </div>
    </div>

    <div class="form-group required">
        {{ form_label(form.addressCity, "Ville", {'label_attr': {'class': 'col-sm-2 control-label '}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressCity, {'attr': {'class': 'form-control locality'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressCity) }} </div>
    </div>

    <div class="form-group">
        {{ form_label(form.addressRegion, "Région", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressRegion, {'attr': {'class': 'form-control administrative_area_level_1'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressRegion) }} </div>
    </div>

    <div class="form-group">
        {{ form_label(form.addressCountry, "Pays", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

        <div class="col-sm-8">
            {{ form_widget(form.addressCountry, {'attr': {'class': 'form-control country'}}) }}
        </div>
        <div class="col-sm-2">{{ form_errors(form.addressCountry) }} </div>
    </div>


    <p>
        <input type="submit" class="btn btn-primary" name="submit" value="Valider" >
    </p>

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
    {{ form_rest(form) }}

    {{ form_end(form) }}

</div>



{% endblock %}

{% block javascripts %}
    <script>
        {# formatage du téléphone#}

        $(document).ready(function(){

            $('.phone').keyup(function() {
                console.log('test');
                var val = this.value.replace(/\D/g, '');
                var newVal = '';
                while (val.length > 2) {
                    newVal += val.substr(0, 2) + ' ';
                    val = val.substr(2);
                }
                newVal += val;
                this.value = newVal;

            });
        });
    </script>


    {#recherche google#}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAaTebRSzl7xi-Ml4MHJIl7Z1h5k2A2Yv0&libraries=places&callback=initAutocomplete"
            async defer></script>

{% endblock %}
