{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron ">


        <h1>liste des clients</h1>

        <div class="row entete">
            <div class="col-sm-3 espaceBoutton"><a href="{{ url('app_admin_customer_add') }}" class="btn bg-primary ">
                    Nouveau client </a></div>
            <div class="col-sm-9">
                {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' , 'class': 'form-horizontal'} }) }}

                <div class="form-group">

                    <div class="col-sm-5 espaceBoutton">
                        {# Génération de l'input. #}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder' : 'Recherche par nom'}}) }}
                    </div>

                    <div class="col-sm-5"><input type="submit" class="btn btn-primary" name="submit" value="Rechercher">
                    </div>
                    <div class="col-sm-2">{{ form_errors(form.name) }} </div>
                </div>


                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                {{ form_rest(form) }}

                {{ form_end(form) }}

            </div>
        </div>

        <div class="table-responsive table-bordered">
            <table class="table ">
                <thead>
                <tr>
                    <th>Nom</th>
                    {#
                                        <th>Action</th>
                    #}
                    <th>Véhicule</th>


                </tr>
                </thead>
                <tbody>
                {% for result in results %}
                    <tr>
                        {#
                                                <td>{{ result.firstName }} {{ result.lastName }}</td>
                        #}
                        <td class="col-xs-6"><a href="{{ path('app_admin_customer_view', {'id': result.id}) }}"
                               class="btn btn-warning btn-block">{{ result.firstName }} {{ result.lastName }}</a>
                        </td>
                        <td  class="col-xs-6">
                                {% for vehicule in result.vehicules %}
                                        <div class="row">

                                            <div class="col-sm-6 col-xs-12">{{ vehicule.brand }} {{ vehicule.model }}   {#  {{ vehicule.registration }} #}</div>
                                            <p class="col-sm-6 col-xs-12"><a
                                                        href="{{ path('app_admin_command_devis', {'id' : vehicule.id }) }}"
                                                        class="btn bg-primary btn-block"> Faire devis </a></p>


                                        </div>

                                {% endfor %}
                        </td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="navigation">
            {{ knp_pagination_render(results) }}
        </div>

    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
