{% extends 'base.html.twig' %}

{% set devis, facture = 1, 0 %}

{% block body %}

    <div class="container jumbotron">

        <h1>{{ result.lastName }} {{ result.firstName }}</h1>
        {% if result.socialReason is not empty %}
            <h2>{{ result.socialReason }}</h2>
        {% endif %}

        <section class="row">
            <article class="col-sm-4 panel-primary">
                <div class="panel-heading"><h2>Coordonnées</h2></div>
                <div class="panel-body">
                    <ul>
                        <li><strong>Tel 1:</strong> <a
                                    href="tel:{{ result.telephonePrimary }}">{{ result.telephonePrimary }}</a></li>
                        {% if result.telephoneSecondary is not empty %}
                            <li><strong>Tel 2:</strong> <a
                                        href="tel:{{ result.telephoneSecondary }}">{{ result.telephoneSecondary }}</a>
                            </li>
                        {% endif %}
                        <li><strong>Mail :</strong> <a href="mailto:{{ result.email }}">{{ result.email }}</a></li>
                        <li><strong>Adresse :</strong></li>
                        <li>{{ result.addressNumber }} {{ result.addressRoad1 }}</li>
                        {% if result.addressRoad2 is not empty %}
                            <li>{{ result.addressRoad2 }}</li>
                        {% endif %}

                        <li>{{ result.addressZipcode }} {{ result.addressCity | capitalize }}</li>
                        {% if result.addressRegion is not empty %}
                            <li>{{ result.addressRegion }}</li>
                        {% endif %}
                        <li>{{ result.addressCountry | capitalize }} </li>
                    </ul>
                </div>
                <div class="panel-footer"><a href="{{ path('app_admin_customer_update', {'id' : result.id}) }}"
                                             class="btn btn-primary">Modifier</a></div>

            </article>

            <article class="col-sm-8 panel-primary">
                <div class="panel-heading"><h2>Adresses d'intervention</h2></div>
                <div class="panel-body">
                    {% for address in result.addresses %}
                        <div class="row">

                            <div class="col-xs-12 col-md-3">Nom : {{ address.name }} </div>
                            <div class="col-xs-12 col-md-3">{{ address.number }} {{ address.road1 }}</div>
                            {% if address.road2 is not empty %}
                                <div class="col-xs-12">{{ address.road2 }}</div>{% endif %}
                            <div class="col-xs-12  col-md-3">{{ address.zipcode }} {{ address.city }}</div>
                            <div class="col-xs-6  col-md-3">
                                <a href="{{ path('app_admin_addresses_update', {'idCustomer' : result.id, 'idAddresses' : address.id}) }}"
                                   class="btn bg-primary btn-block">Modifier</a>
                            </div>
                        </div>


                    {% endfor %}
                </div>
                <div class="panel-footer"><a href="{{ path('app_admin_addresses_add', {'idCustomer' : result.id}) }}"
                                             class="btn btn-warning">Ajouter</a></div>
            </article>


        </section>
        <section class="row">
            <article class="col-sm-12 panel-primary">
                <div class="panel-heading"><h2>Véhicules</h2></div>
                <div class="panel-body">
                    {% for vehicule in result.vehicules %}

                        <div class="row">
                            <div class="col-xs-6 col-sm-3">{{ vehicule.brand }} - {{ vehicule.model }}</div>
                            <div class="col-xs-6 col-sm-3"> {{ vehicule.registration }}</div>
                            <div class="col-xs-6 col-sm-3">
                                <a
                                        href="{{ path('app_admin_vehicule_update', {'idCustomer' : result.id, 'idVehicule' : vehicule.id}) }}"
                                        class="btn bg-primary btn-block"> Modifier </a>
                            </div>
                            <div class="col-xs-6 col-sm-3">
                                <a href="{{ path('app_admin_command_devis', {'id' : vehicule.id}) }} "
                                   class="btn btn-success btn-block">Nouveau devis</a>
                            </div>

                        </div>


                    {% endfor %}
                </div>
                <div class="panel-footer"><a href="{{ path('app_admin_vehicule_add', {'idCustomer' : result.id}) }}"
                                             class="btn btn-warning">Ajouter</a></div>

            </article>

        </section>
        {% for vehicule in result.vehicules %}
        <section class="row">
            <article class="col-sm-12 panel-primary">
                <div class="panel-heading"><h2>{{ vehicule.brand }} - {{ vehicule.model }}
                        - {{ vehicule.registration }}</h2></div>

                <div class="panel-body">

                    {% if vehicule.commands is not empty %}<h3>Devis</h3>{% endif %}
                        {% for command in vehicule.commands %}
                            {% if command.dateBill is empty %}
                                <div class="row fieldsetcustom">
                                    <p class="col-sm-2"><a class="btn btn-block btn-default"
                                                           href="{{ path('app_admin_command_view', {'id' : command.id}) }}">{{ command.ref }}</a>
                                    </p>
                                    <p class="col-sm-2 col-xs-6">{{ command.totalHt }} €</p>
                                    <p class="col-sm-2  col-xs-6">{{ command.dateCreate | date('d-m-Y') }}</p>
                                    <p class="col-sm-1  col-xs-6 {% if command.commandeValidate is not empty %}invisible{% endif %}">
                                        <a
                                                href="{{ path('app_admin_command_update', {'id' : command.id}) }}"
                                                class="btn bg-primary btn-block"><span
                                                    class="glyphicon glyphicon-pencil"></span></a></p>

                                    <p class="col-sm-1  col-xs-6 {% if command.commandeValidate is not empty %}invisible{% endif %}">
                                        <a
                                                href="{{ path('app_admin_command_remove', {'id' : command.id }) }}"
                                                class="btn btn-danger btn-block"><span
                                                    class="glyphicon glyphicon-remove-circle"></span></a></p>
                                    <p class="col-sm-2  col-xs-6 {% if command.vehicule.customer.email is empty %} invisible {% endif %}">
                                        <a
                                                {#
                                                                                                href="mailto:{{ command.vehicule.customer.email }}?subject=Devis {{ command.ref }}&body=Bonjour {{ command.vehicule.customer.civility }} {{ command.vehicule.customer.lastName }}, %0A Je vous remercie de trouver ci-joint le devis.%0A Cordialement"
                                                #}
                                                href="{{ path('app_admin_command_mail', {'id' : command.id, 'devis' : 1 }) }}"
                                                class="btn btn-info btn-block"><span
                                                    class="glyphicon glyphicon-envelope"></span></a></p>
                                    <p class="col-sm-2  col-xs-6"><a
                                                href="{{ path('app_admin_command_pdf', {'id' : command.id, 'devis' : devis}) }}"
                                                class="btn btn-warning btn-block"><span
                                                    class="glyphicon glyphicon-download"></span></a></p>

                                </div>
                            {% endif %}
                        {% endfor %}
                    {% if vehicule.commands is not empty %}<h3>Factures</h3> {% endif %}
                    {% for command in vehicule.commands %}
                        {% if command.dateBill is not empty %}

                            <div class="row fieldsetcustom">
                                <p class="col-sm-2"><a class="btn btn-default btn-block"
                                                         href="{{ path('app_admin_command_view', {'id' : command.id}) }}">{{ command.billRef }}</a>
                                </p>
                                <p class="col-sm-2  col-xs-6">{{ command.totalHt }} €</p>
                                <p class="col-sm-2 col-xs-6">{{ command.dateBill | date('d-m-Y') }}</p>
                                <p class="col-sm-2 col-xs-6 {% if command.vehicule.customer.email is empty %} invisible {% endif %}">
                                    <a
                                            href="{{ path('app_admin_command_mail', {'id' : command.id, 'devis' : 0}) }}"
{#
                                            href="mailto:{{ command.vehicule.customer.email }}?subject=Facture {{ command.billRef }}&body=Bonjour {{ command.vehicule.customer.civility }} {{ command.vehicule.customer.lastName }}, %0A Je vous remercie de trouver ci-joint la facture.%0A Cordialement"
#}
                                            class="btn btn-info btn-block"><span
                                                class="glyphicon glyphicon-envelope"></span></a>
                                </p>
                                <p class="col-sm-2 col-xs-6"><a
                                            href="{{ path('app_admin_command_pdf', {'id' : command.id, 'devis' : 0}) }}"
                                            class="btn btn-warning btn-block"><span
                                                class="glyphicon glyphicon-download"></span></a>
                                </p>
                                <div class="col-sm-2 col-xs-12">
                                    {% if command.dateBillAcquited is not empty %}
                                        <p class="btn btn-success btn-block">Payée</p> {% else %}
                                        <p class="btn btn-danger btn-block">Non payée</p>{% endif %}
                                </div>


                            </div>
                        {% endif %}
                    {% endfor %}


                </div>


            </article>

        </section>
        {% endfor %}

{#
        <section class="row">
            <article class="col-sm-12 panel-primary">
                <div class="panel-heading"><h2>Factures</h2></div>
                <div class="panel-body">
                    {% for vehicule in result.vehicules %}

                        <h2>{{ vehicule.brand }} - {{ vehicule.model }}
                            - {{ vehicule.registration }}</h2>

                    {% endfor %}
                </div>
            </article>
#}

        </section>


    </div>




{% endblock %}

{% block stylesheets %}


{% endblock %}
