{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'Récuperation du mot de passe'| capitalize }}</h1>

    {% include 'inc/flash.message.html.twig' %}

    {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } }) }}
        <p>
            {{ form_label(form.password, 'Mot de passe' | capitalize ~ ' :') }}
            {{ form_widget(form.password) }}
        </p>
        <p>
            <input type="submit" class="btn btn-primary" name="submit" value="{{ 'Valider'| capitalize }}">
        </p>
    {{ form_end(form) }}

    {{ form_errors(form.password) }}

{% endblock %}