{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ 'headers.password_forgotten' | trans | capitalize }}</h1>

    {% include 'inc/flash.message.html.twig' %}

    {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } }) }}
        <p>
            {{ form_label(form.email, 'entity.user.email' | trans | capitalize ~ ' :') }}
            {{ form_widget(form.email) }}
        </p>
        <p>
            <input type="submit" class="btn btn-primary" name="submit" value="{{ 'button.submit' | trans | capitalize }}">
        </p>
    {{ form_end(form) }}

    {{ form_errors(form.email) }}

{% endblock %}