{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron ">


        <h1>liste des services - {{ category.name }}</h1>

        <div class="row entete">


        <div class="btn bg-primary espaceBoutton"><a href="{{ url('app_admin_service_add', {'idCategory': category.id}) }}" class="btn bg-primary ">
                Nouveau service </a></div>

        </div>


    <div class="table-responsive table-bordered">
        <table class="table ">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prix</th>
                    <th>Unité</th>
                    <th>TVA</th>
                    <th>TTC</th>
                    <th>Action</th>


                </tr>
            </thead>
            <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.name }}</td>
                    <td>{{ result.value }} €</td>
                    <td>{{ result.unite }}</td>
                    <td>{{ result.taxRate.value }} %</td>
                    <td>{{ (result.taxRate.value * result.value /100) + result.value}} €</td>
                    <td><a href="{{ path('app_admin_service_update', {'idCategory': category.id , 'idService' : result.id}) }}" class="btn bg-primary "> Modifier </a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(results) }}
    </div>

</div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
