{{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } }) }}
<p>
    {% if form.email is defined %}
        {{ form_label(form.email, 'entity.user.email' | trans | capitalize ~ ' :') }}
        {{ form_widget(form.email) }}
    {% endif %}
</p>
<p>
    {% if form.password is defined %}
        {{ form_label(form.password, 'entity.user.password' | trans | capitalize ~ ' :') }}
        {{ form_widget(form.password) }}
    {% endif %}
</p>
{% if form.password.first is defined %}
    <p>
        {{ form_label(form.password.first, "entity.user.password"|trans) }}
        {{ form_widget(form.password.first, { 'attr': {'placeholder': "entity.required"|trans, 'class' : 'form-control'} }) }}
    </p>
{% endif %}

    {% if form.password.second is defined %}
        <p>
            {{ form_label(form.password.second, "entity.user.passwordSecond"|trans) }}
            {{ form_widget(form.password.second, { 'attr': {'placeholder': "entity.required"|trans, 'class' : 'form-control'} }) }}
        </p>
    {% endif %}

<p>
    <input type="submit" class="btn btn-primary" name="submit" value="{{ 'button.submit' | trans | capitalize }}">
</p>
{{ form_end(form) }}

{% if form.email is defined %}
    {{ form_errors(form.email) }}
{% endif %}

{% if form.password is defined %}
    {{ form_errors(form.password) }}
{% endif %}

{% if form.email is defined %}
    {{ form_errors(form.email) }}
{% endif %}


