{% extends 'base.html.twig' %}

{% block body %}

<div class="container jumbotron ">


    <h1>Devis</h1>

    <div class="row entete">
        <div id="retour" class="col-sm-3 espaceBoutton"><a href="{{ url('app_admin_customer_list') }}" class="btn bg-primary ">
                Retour </a></div>
        <div class="col-sm-6"><h2>Marque : {{ vehicule.brand }} -  Modèle: {{ vehicule.model }} Immatriculation : {{ vehicule.registration }}</h2></div>
    </div>

    <div class="row">
        <div class="col-sm-12 entete">
            <div class="panel-success">
                <div class="panel-heading">Devis</div>
                <div class="panel-body" data-idvehicule="{{ vehicule.id }}" id="panier">

                <ul class="list-group">

</ul>

                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div  class="col-xs-6">
                        <button id="allErase" class="btn btn-danger">Vider</button>
                        </div>
                        <div class="col-xs-6">
                        <button id="validerpanier" class="btn btn-success">Valider le devis</button>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="selectcategorie">Categorie : </label>
                    <select class="form-control" id="selectcategorie">
                        {% for categorie in results %}
                            <option  value="{{ categorie.id }}">{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="selectservice">Service : </label>
                    <select class="form-control" id="selectservice">
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label required"> Référence </label>
                    <input class="form-control" id="reference" type="text">
                </div>

                <div class="form-group">
                    <label class="control-label required"> Valeur HT en euros</label>
                    <input type="number" data-unite="" class="form-control" id="valeurHT" value="">
                </div>

                <div class="form-group">
                    <label class="control-label">TVA en %</label>
                    <input type="number" class="form-control " id="tauxTVA" disabled value=>

                </div>

                <div class="form-group">
                    <label class="control-label" for="selectquantite">Quantité : </label>
                    <select class="form-control" id="selectquantite">
                        {% for i in range(1,20,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>



                <div class="form-group">
                    <label class="ontrol-label" for="selectremise">Remise en %</label>

                    <select class="form-control" id="selectremise">
                        {% for i in range(0,100,5) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label">TTC en euros</label>
                    <input class="form-control " id="TTC" disabled>

                </div>

                <div class="btn btn-warning pull-right" id="ajouterProduit">Ajouter</div>
            </div>

    </div>

    {% endblock %}

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>
    <script src="{{ asset('js/classes/PanierSession.class.js') }}"></script>

    <script>

            function majTTC() {
                var val = parseFloat($('#valeurHT').val());
                if (val != null) {
                var ttc = Math.round( val * (1 + (parseFloat($('#tauxTVA').val()) / 100)) * 100) / 100;
                $('#TTC').val(ttc);
                 }
            }

            function majService() {

                $.ajax({
                    type: 'POST',
                    dataType: 'html',
                    data: {'id': $('#selectcategorie option:selected').val()},
                    async: true,
                    url: '{{ path('app_admin_service_ajax') }}',
                    success: function (response, statut) {
                        //on vide les options
                        $('#selectservice').html('');
                        //on alimente les services
                        $(response).appendTo("#selectservice");
                        majEltService();
                    },
                    error: function (resulta, statut, error) {
                        // J'affiche un message d'erreur
                        console.log(error);
                    }
                });
            }
            function majEltService() {
                if ($('#selectservice option:selected').val()) {

                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: {'id': $('#selectservice option:selected').val()},
                    async: true,
                    url: '{{ path('app_admin_elt_service_ajax') }}',
                    success: function (response, statut) {
                        //on alimente les champs
                        $('#tauxTVA').val(parseInt(response.taxrate));
                        $('#valeurHT').val(parseInt(response.valHT));
                        $('#valeurHT').data('unite',response.unite);

                        majTTC();

                    },
                    error: function (resultat, statut, error) {
                        // J'affiche un message d'erreur
                        console.log(error);
                    }
                });

                }
            }
            function validerDevis() {
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: {'devis': loadDataFromDomStorage('panier')},
                    async: true,
                    url: '{{ path('app_admin_command_ajax') }}',
                    success: function (response, statut) {
                        var idCommand = response.idcommand;
                        var urlbase = "{{ url('app_admin_command_view')}}";
                        console.log(urlbase);
                        var url = urlbase +"/"+ idCommand;
                        window.location = url;
                          //on vide le panier
                          clearPanier();
                    },
                    error: function (resultat, statut, error) {
                        // J'affiche un message d'erreur
                        console.log(error);
                    }
                });
            }
            function clearPanier() {
              saveDataToDomStorage('panier', null);
            }

        $(document).ready(function () {


            //ecouteurs
            $('#valeurHT').on('input', function () {
                majTTC();
            });

            $('#selectcategorie').on('change', function () {
                majService();
            });
            $('#selectservice').on('change', function () {
                majEltService();
            });
            $('#validerpanier').on('click', function() {
              validerDevis();
            });
            $('#retour').on('click', function() {
            clearPanier();
            });

            //action
            majService();
            majEltService();

            var panier = new PanierSession($('#panier').data('idvehicule'));
            panier.refreshPanier();

            {% if commande is defined %}
            panier.clearTotal();
            panier.addIdCommand(parseInt({{ commande.id }}));
            {% for ligne in commande.commandsServices %}
            var objetElementpanier = {
                idservice : parseInt({{ligne.service.id}}),
                nomservice : "{{ligne.service.name}}",
                reference : "{{ligne.reference}}",
                valeurHT : parseInt({{ligne.value}}),
                taxerate : parseInt({{ligne.taxRate}}),
                remise : parseInt({{ligne.discountRate}}),
                quantity : parseInt({{ligne.quantity}})
            };
            panier.pushProduct(objetElementpanier);

            {% endfor %}

            {% endif %}

        });
    </script>


 {% endblock %}