{% extends 'base.html.twig' %}

{% block body %}

<div class="container jumbotron ">


    <h1>Devis</h1>

    <div class="row entete">
        <div class="col-sm-3 espaceBoutton"><a href="{{ url('app_admin_customer_list') }}" class="btn bg-primary ">
                Retour </a></div>
        <div class="col-sm-6"><h2>{{ vehicule.brand }} {{ vehicule.model }} {{ vehicule.registration }}</h2></div>
    </div>

    <div class="row">
        <div class="col-sm-12 entete">
            <div class="panel-success">
                <div class="panel-heading">Panier</div>
                <div class="panel-body" id="panier">
                    <p>ligne 1</p>
                    <p>test</p>
                    <p>test</p>

                </div>
                <div class="panel-footer">
                    <div class="row">

                        <div class="col-xs-3 pull-left"><a href="#" class="btn btn-danger">Vider</a></div>
                        <div class="col-xs-3 pull-left"><a href="#" class="btn btn-success">Valider</a></div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <div class="container">

            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label" for="selectcategorie">Categorie : </label>
                    <select class="form-control" id="selectcategorie">
                        {% for categorie in results %}
                            <option  value="{{ categorie.id }}">{{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label" for="selectservice">Service : </label>
                    <select class="form-control" id="selectservice">
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label required"> Référence </label>
                    <input class="form-control" id="reference" type="text">
                </div>

                <div class="form-group">
                    <label class="control-label required"> Valeur HT en euros</label>
                    <input type="number" class="form-control" id="valeurHT" value="">
                </div>

                <div class="form-group">
                    <label class="control-label">TVA en %</label>
                    <input type="number" class="form-control " id="tauxTVA" disabled value=20>

                </div>

                <div class="form-group">
                    <label class="control-label" for="selectquantite">Quantité : </label>
                    <select class="form-control" id="selectquantite">
                        {% for i in range(1,20,1) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                </div>



                <div class="form-group">
                    <label class="ontrol-label" for="selectremise">Remise en %</label>

                    <select class="form-control" id="selectremise">
                        {% for i in range(0,100,5) %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>

                </div>

                <div class="form-group">
                    <label class="control-label">TTC en euros</label>
                    <input class="form-control " id="TTC" disabled>

                </div>

                <div class="ajouterservice btn btn-warning pull-right" id="ajouterservice">Ajouter</div>
            </div>

    </div>

    {% endblock %}

    {% block stylesheets %}

    {% endblock %}

    {% block javascripts %}
    <script src="{{ asset('js/app.js') }}"></script>

    <script>
        $(document).ready(function () {


            //ecouteur sur le montant HT
            $('#valeurHT').on('input', function () {
                majTTC(parseInt($('#valeurHT').val()));
            });

            function majTTC(val) {
                console.log(val);
                console.log(parseInt($('#tauxTVA').val()));
                var ttc = Math.round(val * (1 + (parseInt($('#tauxTVA').val()) / 100)) * 100) / 100;
                console.log(ttc);

                $('#TTC').val(ttc);

            }

            function majService() {
console.log($('#selectcategorie option:selected').val());
                $.ajax({
                    type: 'POST',
                    dataType: 'json',
                    data: {'id': $('#selectcategorie option:selected').val()},
                    async: true,
                    url: '{{ path('app_admin_service_ajax') }}',
                    success: function (response) {
                        console.log(response);
                        //on alimente les services
                        (response.tabservice).forEach(function(element) {
                          console.log(element);
                        });

                    },
                    error: function () {
                        // J'affiche un message d'erreur
                        console.log('erreur');
                    }
                });

            }

            $('#selectcategorie').on('change', function () {
                majService();


            });



        });
    </script>


 {% endblock %}