{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron">

        <div id="retour" class="col-sm-3 espaceBoutton"><a
                    href="{{ path('app_admin_customer_view', {'id': result.vehicule.customer.id}) }}"
                    class="btn bg-primary ">
                Retour </a></div>
        <div class="col-sm-3 espaceBoutton pull-right"><a
                    href="{{ path('app_admin_command_dupliquer', {'id': result.id}) }}"
                    class="btn bg-warning ">
                Dupliquer </a></div>


        <h1>Intervention</h1>
        <h2>Devis n°: {{ result.ref }}  {% if result.commandeValidate is not empty %}
                accepté le : {{ result.commandeValidate | date('d-m-Y') }}
            {% endif %}</h2>
        {% if result.dateBill is not empty %}  <h2>Facture
            n° {{ result.billref }}{% if result.dateBillAcquited is not empty %}
                payée le : {{ result.dateBillAcquited | date('d-m-Y') }} par {{ result.paymentType.name }}
            {% endif %}</h2> {% endif %}
        <h3>{{ result.vehicule.brand }} - {{ result.vehicule.model }} - {{ result.vehicule.registration }} </h3>

        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th class="hidden-xs">Unité</th>
                    <th class="hidden-xs">Prix HT</th>
                    <th class="hidden-xs">Remise</th>
                    <th class="hidden-xs">TVA</th>
                    <th>Total HT</th>
                </tr>
                </thead>
                <tbody>
                {% for ligne in result.commandsServices %}
                    <tr>
                        <td>{{ ligne.service.name }} {% if  ligne.reference is not empty %} - {% endif %} {{ ligne.reference }} </td>
                        <td>{{ ligne.quantity }}</td>
                        <td class="hidden-xs">{{ ligne.service.unite.libelle }}</td>
                        <td class="hidden-xs">{{ ligne.value|number_format(2, '.', ' ') }} €</td>
                        <td class="hidden-xs">{{ ligne.discountRate|number_format(0, '.', ' ') }} %</td>
                        <td class="hidden-xs">{{ ligne.taxRate|number_format(2, '.', ' ') }} %</td>
                        {% if  ligne.discountRate != 0 %}
                            <td>{{ ((ligne.value * ligne.quantity)-((ligne.value * ligne.quantity )* ligne.discountRate/100))|number_format(2, '.', ' ') }}
                                €
                            </td>
                        {% else %}
                            <td>{{ (ligne.value * ligne.quantity)|number_format(2, '.', ' ') }} €</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
                {% if  result.totalDiscount != 0 %}
                    <p>total remise : <strong> {{ result.totalDiscount|number_format(2, '.', ' ') }} €</strong></p>
                {% endif %}
                <p>total HT : <strong> {{ result.totalHt|number_format(2, '.', ' ') }} €</strong></p>
                <p>total TVA : <strong> {{ result.totalTva|number_format(2, '.', ' ') }} €</strong></p>
                <p>total TTC : <strong>{{ result.totalTtc|number_format(2, '.', ' ') }} €</strong></p>


            </div>
        </div>

{#        {{ form_start(form, { 'attr' : { 'novalidate' : 'novalidate' } }) }}
        <div class="row">
            <div class="col-md-2">
                {{ form_label(form.note, 'observation' | capitalize ~ ' :') }}
            </div>

            <div class="col-md-7">
                {{ form_widget(form.note) }}
            </div>

            <div class="col-md-3">
                <input type="submit" class="btn btn-primary" name="submit" value="Enregistrer l'observation">
            </div>
        </div>

        {{ form_end(form) }}

        {{ form_errors(form.note) }}#}

        {% if result.commandeValidate is empty %}

            <div class="row fieldsetcustom">
                <div class="col-sm-3">

                    <a href="{{ path('app_admin_command_update', {'id' : result.id}) }}" class="btn btn-success">Modifier
                        le
                        devis</a>
                </div>
                <div class="col-sm-9">

                    <form class="row" action="{{ url('app_admin_command_valide_devis', {'id' : result.id}) }}"
                          method="post" >
                        <div class="col-xs-9">
                            <div class='input-group date'>
                                <input type='text' class="js-datepicker form-control" name="commandeValidate"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>

                        </div>
                        <div class="col-xs-3">
                            <button type="submit" class="btn btn-primary">Devis accepté</button>
                        </div>
                    </form>
                </div>

            </div>


        {% endif %}
        {% if result.dateBill is empty and result.commandeValidate is not empty %}
            <a href="{{ path('app_admin_command_travaux_fait', {'id' : result.id}) }}"
               class="btn btn-warning pull-right">Les
                travaux ont été réalisés</a>


        {% endif %}

        {% if result.dateBill is not null and result.dateBillAcquited is null %}
            <form action="{{ url('app_admin_command_facture_payee', {'id' : result.id}) }}" method="post" class="fieldsetcustom">

                <div class=" row">
                    <div class='col-xs-4'>
                        <div class=" input-group date">

                            <input type='text' class="js-datepicker form-control" name="dateBillAcquited"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>

                    <div class="col-xs-4">

                        {#<label for="sel1">Type de paiement:</label>#}
                        <select name="paymentType" class="form-control" id="sel1">
                            {% for ligne in selectTypePaiement %}
                                <option value="{{ ligne.id }}">{{ ligne.name }}</option>
                            {% endfor %}

                        </select>
                    </div>


                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">La facture a été acquitée</button>
                    </div>
                </div>
            </form>
        {% endif %}


    </div>




{% endblock %}

{% block stylesheets %}



{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: "dd-mm-yyyy",
                todayBtn: "linked",
                clearBtn: true,
                language: "fr",
                todayHighlight: true,
                autoclose: true
            });

        });
    </script>
{% endblock %}
