{% extends 'base.html.twig' %}

{% block body %}

    <div class="container jumbotron">

        <div id="retour" class="col-sm-3 espaceBoutton"><a
                    href="{{ path('app_admin_customer_view', {'id': command.vehicule.customer.id}) }}"
                    class="btn bg-primary ">
                Retour Client</a></div>


        <h1>Intervention</h1>

        <p> Client : {{ command.vehicule.customer.firstName }} </p>

        <legend> Références</legend>
        <p>Devis n°: {{ command.ref }}  {% if command.commandeValidate is not empty %}
                accepté le : {{ command.commandeValidate | date('d-m-Y') }}
            {% endif %}</p>
        {% if command.dateBill is not empty %}  <p>Facture
            n° {{ command.billref }}{% if command.dateBillAcquited is not empty %}
                payée le : {{ command.dateBillAcquited | date('d-m-Y') }} par {{ command.paymentType.name }}
            {% endif %}</p> {% endif %}

        <div class="row">
            <div class="col-sm-6">
                <legend>Adresse d'intervention</legend>
                <ul>

                    <li> Titre : {{ command.adressIntervention.name }}</li>
                    <li> {{ command.adressIntervention.number }} {{ command.adressIntervention.road1 }} {{ command.adressIntervention.road2 }}</li>
                    <li>{{ command.adressIntervention.zipcode }} {{ command.adressIntervention.city }}</li>

                </ul>
            </div>
            <div class="col-sm-6">

                <legend>Véhicule</legend>
                <table>
                    <tr>
                        <td class="col-xs-5">Marque :</td>
                        <td class="col-xs-7">{{ command.vehicule.brand }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-5">Modèle :</td>
                        <td class="col-xs-7">{{ command.vehicule.model }}</td>
                    </tr>
                    <tr>
                        <td class="col-xs-5">Immatriculation :</td>
                        <td class="col-xs-7">{{ command.vehicule.registration }}</td>
                    </tr>
                </table>
            </div>
        </div>


        <legend>Chiffrage</legend>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Désignation</th>
                    <th>Quantité</th>
                    <th class="hidden-xs">Unité</th>
                    <th class="hidden-xs">Prix HT</th>
                    <th class="hidden-xs">Remise</th>
                    <th class="hidden-xs">TVA</th>
                    <th>Total HT</th>
                </tr>
                </thead>
                <tbody>
                {% for ligne in command.commandsServices %}
                    <tr>
                        <td>{{ ligne.service.name }} {% if  ligne.reference is not empty %} - {% endif %} {{ ligne.reference }} </td>
                        <td>{{ ligne.quantity }}</td>
                        <td class="hidden-xs">{{ ligne.service.unite.code }}</td>
                        <td class="hidden-xs">{{ ligne.value|number_format(2, '.', ' ') }} €</td>
                        <td class="hidden-xs">{{ ligne.discountRate|number_format(0, '.', ' ') }} %</td>
                        <td class="hidden-xs">{{ ligne.taxRate|number_format(2, '.', ' ') }} %</td>
                        {% if  ligne.discountRate != 0 %}
                            <td>{{ ((ligne.value * ligne.quantity)-((ligne.value * ligne.quantity )* ligne.discountRate/100))|number_format(2, '.', ' ') }}
                                €
                            </td>
                        {% else %}
                            <td>{{ (ligne.value * ligne.quantity)|number_format(2, '.', ' ') }} €</td>
                        {% endif %}

                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="row">
            <div class="col-xs-6 col-xs-offset-6">
                {% if  command.totalDiscount != 0 %}
                    <p>total remise : <strong> {{ command.totalDiscount|number_format(2, '.', ' ') }} €</strong></p>
                {% endif %}
                <p>total HT : <strong> {{ command.totalHt|number_format(2, '.', ' ') }} €</strong></p>
                <p>total TVA : <strong> {{ command.totalTva|number_format(2, '.', ' ') }} €</strong></p>
                <p>total TTC : <strong>{{ command.totalTtc|number_format(2, '.', ' ') }} €</strong></p>


            </div>
        </div>


        <legend>Validation</legend>
        {% if command.commandeValidate is empty %}


            <div class="row">
                <div class="col-sm-3">

                    <a href="{{ path('app_admin_command_update', {'id' : command.id}) }}" class="btn btn-success">Modifier
                        le
                        devis</a>
                </div>
                <div class="col-sm-9">

                    <form class="row" action="{{ url('app_admin_command_valide_devis', {'id' : command.id}) }}"
                          method="post">
                        <div class="col-sm-9">
                            <div class='input-group date'>
                                <input type='text' class="js-datepicker form-control" name="commandeValidate"/>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary">Devis accepté</button>
                        </div>
                    </form>
                </div>

            </div>


        {% endif %}
        {% if command.dateBill is empty and command.commandeValidate is not empty %}
            {#
                        <legend>Validation</legend>
            #}
            <p><a href="{{ path('app_admin_command_travaux_fait', {'id' : command.id}) }}"
                  class="btn btn-warning">Les
                    travaux ont été réalisés</a></p>


        {% endif %}

        {% if command.dateBill is not null and command.dateBillAcquited is null %}
            {#
                        <legend>Validation</legend>
            #}
            <form action="{{ url('app_admin_command_facture_payee', {'id' : command.id}) }}" method="post"
                  class="">

                <div class=" row">
                    <div class='col-xs-4'>
                        <div class=" input-group date">

                            <input type='text' class="js-datepicker form-control" name="dateBillAcquited"/>
                            <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                        </div>
                    </div>

                    <div class="col-xs-4">

                        {#<label for="sel1">Type de paiement:</label>#}
                        <select name="paymentType" class="form-control" id="sel1">
                            {% for ligne in selectTypePaiement %}
                                <option value="{{ ligne.id }}">{{ ligne.name }}</option>
                            {% endfor %}

                        </select>
                    </div>


                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary">La facture a été acquitée</button>
                    </div>
                </div>
            </form>
        {% endif %}

        <legend>Gestion</legend>
        <div class="row">
            <div class="col-sm-4">
                <p>
                    <a href="{{ path('app_admin_command_edit', {'id' : command.id }) }}" class="btn btn-default btn-block">Modifier de l'intervention</a>
                </p>
                <p>
                    <a
                            href="{{ path('app_admin_command_dupliquer', {'id': command.id}) }}"
                            class="btn btn-success btn-block">
                        Dupliquer </a>
                </p>
                {% if command.commandeValidate is empty %}
                <p>
                    <a href="{{ path('app_admin_command_remove', {'id' : command.id }) }}"
                            class="btn btn-danger btn-block">Supprimer l'intervention</a>
                </p>
                {% endif %}


            </div>
            <legend class="visible-xs">Devis</legend>
            <div class="col-sm-4">
                <p>
                    <a href="{{ path('app_admin_command_facture_mail', {'id' : command.id, 'devis' : 1 }) }}" class="btn btn-default btn-block"> Envoyer le devis</a>
                </p>
                <p>
                    <a href="{{ path('app_admin_command_facture_pdf', {'id' : command.id, 'devis' : 1 }) }}" class="btn btn-default btn-block"> Imprimer le devis</a>
                </p>
                <p>
                    <a href="{{ path('app_admin_command_vue', {'id' : command.id, 'devis' : 1 }) }}"
                       class="btn btn-success btn-block" target="_blank">Visualisation du devis</a>
                </p>
            </div>
            {% if command.billRef is not empty %}
                <legend class="visible-xs">Facture</legend>

                <div class="col-sm-4">
                <p>
                    <a href="{{ path('app_admin_command_facture_mail', {'id' : command.id, 'devis' : 0 }) }}" class="btn btn-default btn-block"> Envoyer la facture</a>
                </p>
                <p>
                    <a href="{{ path('app_admin_command_facture_pdf', {'id' : command.id, 'devis' : 0 }) }}" class="btn btn-default btn-block"> Imprimer la facture</a>
                </p>
                <p>
                    <a href="{{ path('app_admin_command_vue', {'id' : command.id, 'devis' : 0 }) }}"
                       class="btn btn-success btn-block" target="_blank">Visualisation de la facture</a>
                </p>
            </div>
            {% endif %}
        </div>


    </div>




{% endblock %}

{% block stylesheets %}



{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            $('.js-datepicker').datepicker({
                format: "dd-mm-yyyy",
                todayBtn: "linked",
                clearBtn: true,
                language: "fr",
                todayHighlight: true,
                autoclose: true
            });

        });
    </script>
{% endblock %}
